@use "../abstracts" as *;
.header {
    height: 35rem;
    min-height: calc(13rem + 32vw);
    position: relative;
    overflow: hidden;
    /** 1200px or smaller */
    @media (max-width: $breakpoint-l) {
        height: calc(18rem + 32vw);
    }
}

.header__gradient {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10vw;
    z-index: 3;
    background-image: linear-gradient(-5.71deg, $prim-color 49.7%, transparent 50.3%);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 100vw 10vw;
}

.header__container {
    position: relative;
    @include make-container();
}

.header::before,
.header::after {
    content: "";
    position: absolute;
    width: 100vw;
    bottom: -9rem;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    /** from 1200px upwards */
    @media (max-width: $breakpoint-l) {
        bottom: -4rem;
    }
    @media (max-width: $breakpoint-m) {
        bottom: -1rem;
    }
}

.header::before {
    top: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("#{$image-path}/pexels-alesia-kozik-6129553.jpg");
    @media (max-width: $breakpoint-s) {
        background-size: cover;
    }
    @media (max-width: $breakpoint-xs) {
        background-size: cover;
    }
}

.header::after {
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)),
    url("#{$image-path}/pexels-alesia-kozik-6129553.jpg");
    @media (max-width: $breakpoint-s) {
        display: none;
    }
}

.header__heading-container {
    clear: both;
}

.header__title-container {
    clear: both;
    padding-top: 6rem;
    @media (max-width: $breakpoint-m) {
        padding-top: 2rem;
    }
    @media (max-width: $breakpoint-s) {
        padding-top: 3rem;
    }
}

.header__title {
    text-transform: uppercase;
    margin-top: 4rem;
    font-weight: 700;
    color: $prim-color;
    font-size: 8rem;
    line-height: 80%;
    text-align: center;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    animation-name: header_title-font-weight;
    animation-delay: 0.5s;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    @media (max-width: $breakpoint-l) {
        font-size: 5rem;
    }
    @media (max-width: $breakpoint-m) {
        font-size: 5rem;
    }
    @media (max-width: $breakpoint-s) {
        font-size: 5rem;
        margin-top: 1rem;
    }
    @media (max-width: $breakpoint-xs) {
        font-size: 4rem;
        margin-top: 0rem;
    }
}

@keyframes header_title-font-weight {
    0% {
        opacity: 0;
        font-weight: 100;
    }
    100% {
        opacity: 1;
        font-weight: 700;
    }
}

.header__subtitle {
    text-transform: uppercase;
    color: $prim-color;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.7rem;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 1);
    background-color: rgba($sec-color, 0.7);
    margin: auto;
    width: 65rem;
    animation-name: header_subtitle;
    animation-delay: 2.5s;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    @media (max-width: $breakpoint-l) {
        letter-spacing: 0.6rem;
        width: 60rem;
    }
    @media (max-width: $breakpoint-m) {
        font-size: 0.7rem;
        letter-spacing: 0.4rem;
        width: 43rem;
    }
    @media (max-width: $breakpoint-s) {
        font-size: 0.5rem;
        letter-spacing: 0.3rem;
        width: 29rem;
    }
    @media (max-width: $breakpoint-xs) {
        font-size: 0.5rem;
        letter-spacing: 0.2rem;
        width: 25rem;
    }
}

@keyframes header_subtitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}