@use "../abstracts" as *;
.intro {
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.intro__column-text {
    float: left;
    width: 33.33%;
    padding-right: 4.5rem;
    padding-top: 4rem;
    @media (max-width: $breakpoint-l) {
        padding-right: 3rem;
    }
    @media (max-width: $breakpoint-m) {
        padding-top: 0;
        padding-right: 0;
        width: 50%;
    }
    @media (max-width: $breakpoint-s) {
        width: 100%;
        float: none;
        padding-bottom: 3rem;
    }
}

.intro__title {
    text-transform: uppercase;
    color: $font-color;
    font-weight: 500;
    &::before {
        content: "";
        display: block;
        width: 3rem;
        height: 0.35rem;
        background-color: $thir-color;
        margin-bottom: 0.6rem;
        font-weight: bold;
    }
}

.intro__text {
    color: $font-color;
    text-align: justify;
    margin-top: 0.2rem;
    font-size: 1.1rem;
    @media (max-width: $breakpoint-s) {
        text-align: left;
    }
}

.intro__images {
    float: left;
    width: 66.66%;
    height: clamp(10rem, calc(35vw + 10rem), 36rem);
    position: relative;
    @media (max-width: $breakpoint-m) {
        width: 50%;
        height: clamp(10rem, calc(25vw + 10rem), 36rem);
    }
    @media (max-width: $breakpoint-s) {
        width: 80%;
        float: none;
        margin: 0 auto;
        height: clamp(10rem, calc(40vw + 10rem), 36rem);
    }
    @media (max-width: $breakpoint-xs) {
        width: 90%;
        height: clamp(10rem, calc(45vw + 10rem), 36rem);
    }
}

.intro__image {
    position: absolute;
    width: 35%;
    &--coco {
        filter: brightness(0.75);
        top: 6.5rem;
        left: 37%;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0 0 0 rgba($sec-color, 0.9);
        animation: borderpulse 2.6s infinite;
    }
    @keyframes borderpulse {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgba($sec-color, 0.9);
        }
        80% {
            -webkit-box-shadow: 0 0 0 25px rgba(204, 169, 44, 0);
        }
        100% {
            -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        }
    }
    @media (max-width: $breakpoint-s) {
        visibility: hidden;
    }
}