@use "../abstracts" as *;
.intro {
    margin-top: 3rem;
}

.intro__content {
    float: left;
    width: 33.33%;
    color: $font-color;
    margin-bottom: 10rem;
    margin-top: 4rem;
    @media (max-width: $breakpoint-l) {
        width: 50%;
        padding-top: 0;
    }
    @media (max-width: $breakpoint-m) {
        width: 100%;
        padding-top: 0;
    }
    @media (max-width: $breakpoint-s) {
        width: 100%;
        padding-top: 0;
    }
}

.intro__title {
    text-transform: uppercase;
    color: $font-color;
    font-weight: 500;
    &::before {
        content: "";
        display: block;
        width: 3rem;
        height: 0.25rem;
        background-color: $thir-color;
        margin-bottom: 0.6rem;
    }
}

.intro__text {
    color: $font-color;
    margin-top: 0.3rem;
    font-weight: 400;
    text-align: justify;
}

.intro__images {
    float: left;
    width: 66.66%;
    margin-top: 3rem;
    height: clamp(10rem, calc(35vw + 10rem), 36rem);
    position: relative;
    @media (max-width: $breakpoint-l) {
        margin-top: 3.5rem;
        height: clamp(10rem, calc(25vw + 10rem), 36rem);
        width: 50%;
        padding-right: 0;
    }
    @media (max-width: $breakpoint-m) {
        visibility: hidden;
    }
    @media (max-width: $breakpoint-s) {
        visibility: hidden;
    }
}

.intro__image {
    position: absolute;
    width: 55%;
    &--coco {
        filter: brightness(0.75);
        top: 6.5rem;
        left: 37%;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0 0 0 rgba($sec-color, 0.9);
        animation: borderpulse 2.6s infinite;
    }
    @keyframes borderpulse {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgba($sec-color, 0.9);
        }
        80% {
            -webkit-box-shadow: 0 0 0 25px rgba(204, 169, 44, 0);
        }
        100% {
            -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        }
    }
    @media (max-width: $breakpoint-s) {
        visibility: hidden;
    }
}