@use "../abstracts/" as *;
@use "sass:color";
$-animation-duration: 1s;
.sidenav {
    display: block;
    position: fixed;
    z-index: 15000;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: width 0s linear #{$-animation-duration},
    height 0s linear #{$-animation-duration};
    pointer-events: none;
    .sidenav__active:checked~& {
        pointer-events: all;
        transition: width 0s linear 0s, height 0s linear 0s;
        width: 100%;
        height: 100%;
    }
}

.sidenav__active {
    display: none;
}

.sidenav__off {
    cursor: pointer;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border-radius: 100000px;
    background-image: linear-gradient(-45deg, transparent 44%, #{$prim-color} 45%, #{$prim-color} 55%, transparent 56%),
    linear-gradient(45deg, transparent 44%, #{$prim-color} 45%, #{$prim-color} 55%, transparent 56%);
}

.sidenav__container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20rem;
    max-width: 100vw;
    background-color: transparent;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    box-shadow: 0 0 1rem black;
    transform: translate(calc(100% + 1rem), 0);
    will-change: transform;
    transition: transform #{$-animation-duration} ease-in-out;
    .sidenav__active:checked~.sidenav & {
        transform: translate(0, 0);
    }
}

.sidenav__nav {
    margin-top: 6rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    list-style: none;
    text-decoration: none;
    border-top: 0.0625rem solid rgba($prim-color, 0.2);
}

.sidenav__nav-link {
    text-decoration: none;
    border-bottom: 0.0625rem solid rgba($prim-color, 0.2);
    color: $prim-color;
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
    display: block;
    font-weight: 500;
    transition: color 0.25s ease-in-out, font-weight 0.25s ease-in-out, background-color 0.25s ease-in-out;
    &:hover {
        color: $sec-color;
        font-weight: 600;
        background-color: rgba($prim-color, 0.1);
    }
}

.sidenav__bg {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    .sidenav__active:checked~.sidenav & {
        opacity: 1;
    }
}