/** Colors */

@use "sass:color";
$prim-color: #ffffff!default;
$sec-color: #8bd917!default;
$font-color: #3d332c!default;
$thir-color: color.scale($sec-color, $lightness: -15%)!default;

/** Paths */

$image-path: "../images";
$video-path: "../videos";

/** Breakpoints */

$breakpoint-l: 75em!default;
$breakpoint-m: 62em!default;
$breakpoint-s: 48em!default;
$breakpoint-xs: 36em!default;