/** Colors */

$prim-color: #ffffff;
$sec-color: #8bd917;

/** Paths */

$image-path: "../images";
$video-path: "../videos";

/** Breakpoints */

$breakpoint-l: 1280px!default;
$breakpoint-m: 960px!default;
$breakpoint-s: 768px!default;
$breakpoint-xs: 320px!default;