@use "../abstracts/" as *;
.button {
    display: inline-block;
    border: 0.125rem solid white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1rem 4.5rem;
    font-size: 1.15rem;
    color: white;
    transition: ease-out 0.8s;
    text-shadow: 0 0 0.225rem black;
    box-shadow: 0 0 0.125rem black;
}

.button:hover {}

.button--background-blur {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}